<html lang="en">

<%- include('./partials/head.ejs') %>

    <body class="home">
        <%- include ('./partials/nav.ejs') %>
            <div class="details">
                <div class="note-details">
                    <div class="title-btn">
                        <h2>
                            <%= note.title %>
                        </h2>

                        <button class="delBtn">X</button>
                        <button class="edit">Edit</button>
                    </div>
                    <p>
                        Author: <%= note.author %>
                    </p>
                    <span>
                        <%= note.body %>
                    </span>
                </div>



            </div>
            <%- include ('./partials/footer.ejs') %>
    </body>

</html>