<html lang="en">

<%- include('./partials/head.ejs') %>

    <body>
        <%- include ('./partials/nav.ejs') %>
            <p>Welcome to our favorite note app</h1>

                <% notes.forEach(note=> { %>
                    <div>
                        <h2>
                            <%= note.title %>
                        </h2>
                        <p>
                            <%= note.body %>
                        </p>
                        <span>
                            <%= note.author %>
                        </span>
                    </div>
                    <% }) %>

                        <%- include ('./partials/footer.ejs') %>
    </body>

</html>