<html lang="en">

<%- include('./partials/head.ejs') %>

    <body>
        <%- include ('./partials/nav.ejs') %>
            <p>Welcome to our favorite note app</h1>

                <% notes.forEach(note=> { %>
                    <h2>
                        <%= note.title %>
                    </h2>

                    <span>
                        Author: <%= note.author %>
                    </span>

                    <p>
                        <%= note.body %>
                    </p>
                    <% }) %>

                        <%- include ('./partials/footer.ejs') %>
    </body>

</html>