<html lang="en">

<%- include('./partials/head.ejs') %>

    <body class="home">
        <%- include ('./partials/nav.ejs') %>
            <div class="content">
                <p>Welcome to our favorite note app</p>

                <% notes.forEach(note=> { %>
                    <ul class="notes">
                        <li>
                            <a href="/notes/<%= note.id %> ">

                                <h2>
                                    <%= note.title %>
                                </h2>

                                <span>
                                    Author: <%= note.author %>
                                </span>
                                <p>
                                    <%= note.body %>
                                </p>

                            </a>
                        </li>
                    </ul>
                    <% }) %>
            </div>


    </body>
    <%- include ('./partials/footer.ejs') %>

</html>